<div
  class="card"
  [ngClass]="survey.SURVEY_STATUS_EN === 'Published' ? 'published' : 'expired'"
>
  <div class="card-body">
    <div
      class="card-subTitle"
      id="card-icon"
      [ngSwitch]="survey.SURVEY_STATUS_EN"
    >
      <i class="far fa-check-circle fa-2x" *ngSwitchCase="'Published'"></i>
      <i class="far fa-hourglass fa-2x" *ngSwitchCase="'Expired'"></i>
    </div>

    <div class="card-title">{{ survey.SurveyName }}</div>
    <hr />

    <div class="card-text">
      <section *ngIf="survey.SurveyPeriods.length > 1; else elseBlock">
        <div class="dropdown">
          <button
            class="btn btn-success btn-sm dropdown-toggle bg-white text-muted"
            type="button"
            id="periodDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            [ngClass]="
              survey.SURVEY_STATUS_EN === 'Expired' ? 'disabled' : 'active'
            "
          >
            Select Period
          </button>
          <ul class="dropdown-menu" aria-labelledby="periodDropdown">
            <li *ngFor="let selectDate of survey.SurveyPeriods">
              <a class="dropdown-item" href="#">
                {{ selectDate["START_DATE"] | date: "dd/MM/yyyy" }} -
                {{ selectDate["END_DATE"] | date: "dd/MM/yyyy" }}
              </a>
            </li>
          </ul>
        </div>
      </section>
      <ng-template #elseBlock>
        <p class="text-muted" id="period-date">
          {{ survey.SurveyPeriods[0]["START_DATE"] | date: "dd/MM/yyyy" }} -
          {{ survey.SurveyPeriods[0]["END_DATE"] | date: "dd/MM/yyyy" }}
        </p>
      </ng-template>
    </div>
  </div>
</div>
